<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{{url_for('static',filename='styles/styles.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <div class = "container">
    <div class="d-flex justify-content-center h-100">
      <div class="card" style="max-width: 18rem;">
        <div class="card-body">
          <h3><strong>Login</strong></h3><br>
          <form class="loginform" action="{{url_for('form_post')}}" method="post">
            <div class="input-group form-group">
  						<input type="text" name = "username" class="form-control" placeholder="Username">
  					</div>
  					<div class="input-group form-group">
  						<input type="password" name = "password" class="form-control" placeholder="Password">
  					</div>
            <input type="date" name="date" value ="2020-04-21" alt="Date of last exam"><br><br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name = "exclude" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Exclude weekends
              </label>
            </div>
            <button type="submit" class="btn btn-success">Login</button>


          </form>
      </div>

    </div>
  </div>
</div>
<div class="iconcontainer">
  <a href="https://github.com/kalindukehel/MealSpanWeb">
  <img class = "githublink" src="{{url_for('static',filename='github.png')}}" alt="" style="height:70px; width:70px;" >
</a>
</div>

</body>
</html>
