
.container{
  width:90%;
  margin: 0;
  padding:0;
}
.progress{
  height: 50px;
}

.greeting{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(41, 199, 136);
  color: white;
}

.plan-container{
  padding-left:1%;
  padding-top:2%;
  float:left;
  width: 50%;
}

.spending-container{
  padding-top: 2%;
  float: left;
}

.clr{
  clear:left;
}
@media screen and (max-width: 532px){
  .spending-container{
    padding-top: 5%;
    padding-left: 1%;
  }
  .plan-container{
    width:100%;
  }
}
